@model ProyectoIdentity.Models.Asistencia

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asistencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Semana)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Semana)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.vAsistencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vAsistencia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AsistenciaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
