@model CampusVirtual.ViewModels.CursoViewModels.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject SignInManager<Usuario> SignInManager

<h2>Index</h2>

@if (User.IsInRole("Administrador"))
{
    <h2>Administrar Cursos</h2>
    <a asp-action="Crear" asp-controller="Curso">Crear</a>
}

@if (User.IsInRole("Profesor"))
{
    <h2>Cursos Asignados</h2>

    <table>
        <thead>
            <tr>
                <th>Curso</th>
                @if (User.IsInRole("Administrador"))
                {
                    <th>Opciones</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var curso in Model.Cursos)
            {
                <tr>
                    <td>
                        @curso.Nombre
                    </td>
                    @if (User.IsInRole("Administrador"))
                    {
                        <td>
                            <a asp-action="Editar" asp-controller="Curso" asp-route-id="@curso.CursoId">Editar</a>
                            <a asp-action="Eliminar" asp-controller="Curso" asp-route-id="@curso.CursoId">Eliminar</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@if (User.IsInRole("Estudiante"))
{
    <a asp-action="Matricular" asp-controller="Curso">Matricular Cursos</a>
    <h2>Cursos Matriculados</h2>
}


<table>
    <thead>
        <tr>
            <th>Curso</th>
            @if (User.IsInRole("Administrador"))
            {
                <th>Opciones</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var curso in Model.Cursos)
        {
            <tr>
                <td>
                    @curso.Nombre
                </td>
                @if (User.IsInRole("Administrador"))
                {
                    <td>
                        <a asp-action="Editar" asp-controller="Curso" asp-route-id="@curso.CursoId">Editar</a>
                        <a asp-action="Eliminar" asp-controller="Curso" asp-route-id="@curso.CursoId">Eliminar</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>