@model ProyectoIdentity.Models.DuracionBeca

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DuracionBeca</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaInicial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaInicial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DuracionBecaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
