@model CampusVirtual.ViewModels.GrupoViewModels.IndexViewModel
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject SignInManager<Usuario> SignInManager

@if (User.IsInRole("Administrador"))
{
	<h2 class="title">Administrar Grupos</h2>
	<a asp-action="Crear" asp-controller="Grupos" class="btn btn-primary btn-md btn-submit">Crear</a>
}

@if (User.IsInRole("Profesor"))
{
	<h2 class="title">Grupos Asignados</h2>

	<table class="dataTable table table-striped table-bordered display table-hover" cellspacing="0" id="myTable">
		<thead>
			<tr>
				<th>Curso</th>
				@if (User.IsInRole("Administrador"))
				{
					<th>Opciones</th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var curso in Model.Grupo)
			{
			<tr>
				<td>
					@curso.Materia.Nombre
				</td>
				<td>
					@curso.NumeroGrupo
				</td>
				<td>
					@curso.Horario
				</td>
				@if (User.IsInRole("Administrador"))
	{
                <td>
                    <a class="btn btn-warning btn-md" asp-action="Editar" asp-controller="Grupos" asp-route-id="@curso.GruposId"> <i class="FontAwesome fas fa-edit"></i></a>
                    <a class="btn btn-danger btn-md del" asp-action="Eliminar" asp-controller="Grupos" asp-route-id="@curso.GruposId"> <i class="FontAwesome fas fa-trash-alt"></i></a>
                </td>
}
			</tr>
			}
		</tbody>
	</table>
}

<table class="dataTable table table-striped table-bordered display table-hover" cellspacing="0" id="myTable">
	<thead>
		<tr>
			<th>Curso</th>
			@if (User.IsInRole("Administrador"))
            {
				<th>Opciones</th>
            }
		</tr>
	</thead>
	<tbody>
		@foreach (var curso in Model.Grupo)
		{
		<tr>
			<td>
				@curso.Materia.Nombre
			</td>
			<td>
				@curso.GruposId
			</td>
			<td>
				@curso.NumeroGrupo
			</td>
			<td>
				@curso.Horario
			</td>
			@if (User.IsInRole("Administrador"))
	{
		<td>
			<a asp-action="Editar" asp-controller="Curso" asp-route-id="@curso.GruposId">Editar</a>
			<a asp-action="Eliminar" asp-controller="Curso" asp-route-id="@curso.GruposId">Eliminar</a>
		</td>
}
		</tr>
		}
	</tbody>
</table>